.crd {
    background-color: #2B2A2F;
    /* border: 1px solid rgba(255, 255, 255, 0.4); */
    /* box-shadow: 10px 10px 20px -5px rgba(0, 0, 0, 0.1); */
    /* backdrop-filter: blur(2px); */
    border-radius: 10px;

    padding: 20px;
    font-size: 10px;
    line-height: 120%;
    color: #fff;
    box-sizing: border-box;
    box-shadow: -4px -2px 40px -10px rgba(84, 82, 91, 0.8), 20px 20px 40px -20px #000000;
    

}

.crdSquare {
    width: 160px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: -2px -1px 10px -5px rgba(84, 82, 91, 0.8), 10px 10px 20px -10px #000000;
}

.squareTop {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.squareTop > div {
    width: calc(100% / 12 * 7);
    text-align: right;
}

.squareBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.bottomFocus {
    font-size: 40px;
    font-weight: 600;
    /* height: 100%; */
    line-height: 100%;

}

.bottomSupport {
    font-size: 20px;
    /* height: 100%; */
    line-height: 100%;

}