.nav {
    position: sticky;
    top: 0;
    left: 0;
    width: calc(100vw / 9);
    min-width: 200px;
    height: 100vh;
    background: #2B2A2F;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    /* padding: 40px 0; */
    box-sizing: border-box;
    box-shadow: 10px 10px 40px -10px rgba(0, 0, 0, 0.6);

}

.logo {
    display: flex;
    column-gap: 10px;
    /* margin-bottom: 40px; */
    font-weight: 500;
    font-size: 20px;
}

.nav > img {
    width: calc(100vw / 24);
    height: calc(100vw/ 24);
    min-width: 100px;
    min-height: 100px;
    object-fit:cover;
    border-radius: 2000px;
    /* margin-bottom: 20px; */

}

.quickInfo {
    display: flex;
    flex-direction: column;
    line-height: 100%;
    row-gap: 5px;
    align-items: center;
    /* margin-bottom: 40px; */

}

.navigation {
    height: 100%;
    width: 100%

}

.navigation,
.navigation > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navigation > div {
    /* row-gap: 40px; */
    width: 100%;
    padding-left: calc((100vw/6 - 100vw/12) / 4) ;

}

.navigation > div > a,
.navigation > div > div {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #54525B

}

.navigation > div > a > h2,
.navigation > div > div > h2 {
    font-size: 15px;
    padding: 0;
    margin: 0;
    line-height: 100%;
    font-weight: 400;
}

.smallNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 40px 40px 20px;
    box-sizing: border-box;
    position: relative;

}

.smallNav > div {
    display: flex;
    column-gap: 10px;
}



.smallNav > div > div {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    line-height: 100%;
    justify-content: space-around;
    /* justify-content: flex-end; */
    align-items: flex-end;
}

.smallNav > div > img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.smallNavName {
    color: #fff;
    font-weight: 500;
}

.smallNavOrg {
    color: #54525B;
    font-weight: 400;
}

.mobNavLogo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    column-gap: 10px;
    height: 20px;
    /* overflow: hidden; */
}

.mobNavLogo > img {
    height: 20px !important;
    width: 20px !important;
}

.mobNavLogo > div {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
}