.crd {
    height: 100%;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    /* height: 50%; */
    box-shadow: -4px -2px 40px -10px rgba(84, 82, 91, 0.8), 20px 20px 40px -20px #000000;

    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    background-color: #2B2A2F;


}

.crd > h2 {
    padding: 0;
    margin: 0;
    line-height: 100%;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

.itemContainer {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.itemLeft > img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 2000px;
}

.itemLeft {
    display: flex;
    column-gap: 10px;
}

.itemLeft > div > h3 {
    padding: 0;
    margin: 0;
    line-height: 100%;
    font-size: 15px;
    color: #fff;
    font-weight: 500;

}

.itemLeft > div > div {
    line-height: 100%;
    color: #54525B;
    font-size: 10px;
}

.itemLeft > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.itemRight {
    display: flex;
    align-items: center;
    column-gap: 20px;
}