@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Syncopate:wght@400;700&display=swap');


body {
  background-color: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

h1,
h2, h3, h4, h5, h6 {
  padding: 0;
  line-height: 100%;
  margin: 0;
  /* color: #fff; */
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
}

div {
  line-height: 100%;
  /* color: #fff; */
}

div,
input,
input::placeholder,
a,
a:visited,
main, button {
  font-family: "Inter", sans-serif;

}

button {
  border: none;
  background-color: #fff;
}

a,
a:visited {
  color: #fff;
  text-decoration: none;
}

main {
  height: 100vh;
  padding: 40px calc(100vw/12)
}

@media only screen and (max-width: 600px) {
  main {
    padding: 40px 20px
  }

}

canvas {
  height: 100vh;
  overflow: hidden;
}