.page {
    padding: 30px 20px 20px;
    box-sizing: border-box;
}

.feature {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: -2;
    width: calc(100vw - 20px);
    height: calc(100vh/3);
    background-color: #2B2A2F;
    border-radius: 20px;
}

.page > section {
    display: flex;
}

.dashTop {
    display: flex;
    width: calc(100vw - (100vw/9) - 100px);
    justify-content: space-between;
    padding-left: 40px;
    column-gap: 40px;
}

.dashTopRight {
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;

    width: calc(100vw / 12* 5 - 40px)


    
}

.dashTopRight > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%
}


.dashTopRight > div > h2 {
    padding: 0;
    margin: 0;
    line-height: 100%;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
}

.stateSelector {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 20px;
    gap: 20px;
    background-color: #54525B;
    color: #fff;
    

    border-radius: 10px;
}

.stateSelector > button {
    outline: none;
    border: none;
    background: none;
    font-size: 15px;
    line-height: 100%;

    display: flex;
    align-items: center;

    color: #fff;
    
}

.dashBottom {
    display: flex;
    width: calc(100% - 40px);
    height: calc(100% - 100vh/3 - 40px);
    margin-top: 80px;
    margin-left: 40px;
    /* width: calc(100vw - (100vw/9) - 100px); */
    justify-content: space-between;
    box-sizing: border-box;
    /* padding: 80px 0 40px 40px; */
}

.dashBottom > div {
    width: 100%;
}

.dashBottomLeft > h2 {
    font-size: 20px;
    padding: 0;
    margin: 0;
    font-weight: 500;
}

.dashBottomRight {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
