.page {
    box-sizing: border-box;
}

.feature {
    position: absolute;
    font-size: 100vh;
    line-height: 100%;;
    z-index: 0;
    font-weight: 500;
    color: #54525B;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    overflow-y: hidden;
    
   
}

.page > section {

    display: flex;
    position: absolute;
    z-index: 2;
}

.page > section > section {
    padding: 40px calc(100vw / 24) 40px;
    width: calc(100vw - (100vw / 9 + 100vw / 12))

}

.dashTop {
    display: flex;
    width: 100%;
    height: calc(100vh/3 - 20px);
    justify-content: space-between;
    /* padding-left: 40px; */
    column-gap: 40px;
}

.dashTopRight {
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;

    width: calc(100vw / 3)


    
}

.dashTopRight > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%
}

.smlCrdHolder {
    display: flex;
    column-gap: 20px;
}


.dashTopRight > div > h2 {
    padding: 0;
    margin: 0;
    line-height: 100%;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
}

.dashTopLeft {
    width: calc(100% / 3 * 2)
}

.stateSelector {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 20px;
    gap: 20px;
    background-color: #A2D729;
    color: #2B2A2F;
    

    border-radius: 10px;
}

.stateSelector > button {
    outline: none;
    border: none;
    background: none;
    font-size: 15px;
    line-height: 100%;

    display: flex;
    align-items: center;

    color: #2B2A2F
    
}

.dashBottom {
    display: flex;
    width: 100%;
    margin-top: 40px;
    /* height: calc(100% - 100vh/3 - 40px); */
    height: calc(100vw/ 3 * 2 + 20px);
    /* width: calc(100vw - (100vw/9) - 100px); */
    justify-content: space-between;
    box-sizing: border-box;
    /* padding: 80px 0 40px 40px; */
    background: none;
}

.dashBottom > div {
    /* width: 100%; */
    height: calc(100vh / 3 * 2 - 80px);
    /* background-color: #2B2A2F; */
    background: none;;
    border-radius: 10px;

}

.dashBottomLeft {
    width: calc(100% / 3 * 2 - 20px);

}

.dashBottomLeft > h2 {
    font-size: 20px;
    padding: 0;
    margin: 0;
    font-weight: 500;
}

.dashBottomRight {
    width: calc(100% / 3 - 20px);
    
    
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: 100%;
}
