.page {
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
}

.feature {
    position: absolute;
    font-size: 100vh;
    line-height: 100%;;
    z-index: 0;
    font-weight: 500;
    color: #54525B;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    overflow-y: hidden;
    
   
}

.page > section {

    display: flex;
    position: absolute;
    z-index: 2;
}

.page > section > section {
    padding: 40px calc(100vw / 24) 40px;
    width: calc(100vw - (100vw / 9 + 100vw / 12));
    display: flex;
    column-gap: 40px;

}

.dashRight {
    width: min(calc(100% / 3 * 2 - 20px), 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.dashLeft {
    width: 100%
}
.dashLeft,
.dashRight {
    /* width: calc(50% - 20px); */
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.dashLeftTop,
.dashRightTop {
    height: calc(100% / 3 - 20px)
}

.dashRightTop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dashLeftBottom,
.dashRightBottom {
    height: calc(100% / 3 * 2 - 20px)

}

.dashRightBottom {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}






.smlCrdHolder {
    display: flex;
    /* column-gap: 20px; */
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.dashRightTop > div > h2 {
    padding: 0;
    margin: 0;
    line-height: 100%;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
}



.stateSelector {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 20px;
    gap: 20px;
    background-color: #A2D729;
    color: #2B2A2F;
    

    border-radius: 10px;
}

.stateSelector > button {
    outline: none;
    border: none;
    background: none;
    font-size: 15px;
    line-height: 100%;

    display: flex;
    align-items: center;

    color: #2B2A2F
    
}



.dashRightTopHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50%;
}

