.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px max(20px, calc(100vw/12));
    color: #2B2A2F;
    font-size: 15px;
    z-index: 10;
    
}





.nav > div {
    display: flex;
    align-items: center;
    column-gap: 80px;
    font-weight: 500;
    

}

.nav > div > div {
    display: flex;
    justify-content: center;
}

.navActions {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.right {
    padding: 10px 0;
    width: calc(100vw / 12* 7);
    height: 100%;
    background-image: url("../../public/background.jpg");
    /* background-origin: content-box; */
    background-clip: content-box;
    box-sizing: border-box;
    border-radius: 20px 0 0 20px;
}

.left {
    width: calc(100vw / 12* 5);
    height: 100%;
display: flex;
flex-direction: column;
/* align-items: center; */
justify-content: center;

}

.page {
    position: absolute;
    top: 0%;
    left: 0%;
    /* transform: translateX(50%) translateY(50%); */
    height: 100vh;
    width: 100vw;
    display: flex;
    z-index: -2;
    /* transform: translateY(-75px); */
}

.entire {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.left > div > h1 {
    margin: 0;
    padding: 0;
    line-height: 100%;
    font-size: 40px;
    margin-bottom: 20px;
}

.left > div {
    margin: 0 calc(100vw / 12);
    width: calc(100vw/12 * 3);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.left > div > div > input {
    box-sizing: border-box;
    padding: 0 10px;
    margin: 0;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #2B2A2F;
    background: none;
    font-size: 15px;;
}

.left > div > div > label {
    display:inline-block;
    margin-bottom: 5px;
}

.left > div > button {
    box-sizing: border-box;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    color: #fff;
}

.contentMob {
    width: 100%
}

.contentMob > div {
    width: calc(100vw - (100vw/12*2));
}

.imageUpload {
   
    width: calc(100vw/24 * 3);
    height: calc(100vw/24 * 3);
    
    border-radius: 2000px;
    background-color: #2B2A2F;

    display: flex;
    align-items: center;
    justify-content: center;
}